<h1>New Book</h1>

<%= render 'form', book: @book %>

<% if current_page? %>     
	<%= link_to 'Back', books_path %>
<% end %>
<% if !current_page? %>
<%= link_to 'Back', librarian_book_view_path %>
<% end %>z